<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CENIT Spa - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
    {% include 'app/navbar.html' %}
</header>

<main class="hero-section">
    <h1>Welcome to CENIT Spa</h1>
    <div class="hero-content">
        <div class="left-box">
            <p>
                Relax and recharge at CENIT Spa, where your well being is our top priority.
                Immerse yourself in a serene environment designed to help you escape the
                stress of daily life and rejuvenate your mind and body. From calming massages
                to revitalizing treatments, we provide a personalized experience tailored to
                leave you feeling refreshed, relaxed, and renewed.
            </p>
                <a href="{% url 'booking_page' %}" class="btn-primary">Book a Massage Now</a>
        </div>
        <div class="right-box">
            <h2>Our Services Details</h2>
            {% for service in services %}
            <a href="{% url 'detail_view' service.pk %}">{{ service.name }}</a>
            {% endfor %}
        </div>
    </div>
</main>

</body>
</html>
