<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CENIT Spa - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="" class="logo">CENIT SPA</a>
        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class="bx bx-menu" id="menu-icon"></i>
            <i class="bx bx-x" id="close-icon"></i>
        </label>
        <nav class="navbar">
            <a href="/home" style="--i:0;">Home</a>
            <a href="/about" style="--i:1;">About</a>
            <a href="/service" style="--i:2;">Services</a>
            <a href="/contact" style="--i:3;">Contact</a>
            <a href="/account" style="--i:4;">Account</a>
            <a href="#" style="--i:5;" onclick="confirmLogout(event)"><i class='bx bx-log-out'></i></a>
        </nav>
    </header>
</body>
    <script>
        function confirmLogout(event) {
            event.preventDefault();
            const userConfirmed = confirm("Are you sure you want to logout?");
            if (userConfirmed) {
                window.location.href = '/';
            }
        }
    </script>
</html>