{% load static %}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
    <title>Reschedule Appointment</title>
</head>

{% block content %}
  <div class="form-container">
    <div class="header">
      <h1>Reschedule Appointment</h1>
      <a href="{% url 'account' %}" class="back-button" onclick="return confirmBack();"><i class='bx bx-arrow-back'></i></a>
    </div>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="service">Service:</label>
        {{ form.service }}
    </div>

    <div class="form-group">
        <label for="therapist">Therapist:</label>
        {{ form.therapist }}
    </div>

    <div class="form-group">
        <label for="date">Appointment Date and Time:</label>
        <input type="datetime-local" id="date" name="date" value="{{ form.date.value|default_if_none:'' }}" required>
    </div>

    {% if form.errors %}
        <ul class="error-list">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="form-actions">
        <button type="submit">Reschedule Appointment</button>
    </div>
</form>


  </div>

  <!-- Javascript -->
  <script src="{% static '/js/validation.js' %}"></script>
{% endblock %}
