{% load static %}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
    <title>Update User</title>
</head>

{% block content %}
    <div class="form-container">
        <div class="header">
            <h1>Update User Information</h1>
            <a href="{% url 'database' %}" class="back-button" onclick="return confirm('Are you sure you want to go back?');"><i class='bx bx-arrow-back'></i></a>
        </div>
        <form method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ form.name.value }}" required>
            {% for error in form.name.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ form.username.value }}" required>
            {% for error in form.username.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ form.email.value }}" required>
            {% for error in form.email.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ form.password.value }}" required>
            {% for error in form.password.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="loyalty_points">Loyalty Points:</label>
            <input type="number" id="loyalty_points" name="loyalty_points" value="{{ form.loyalty_points.value }}" required>
            {% for error in form.loyalty_points.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <button type="submit">Update</button>
        </form>
    </div>
{% endblock %}
